.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app_body {
  display: flex;
  background-color: #ededed;
  height: 95vh;
  width: 95vw;
  /* margin-top: -40px; */
  box-shadow: -1px 4px 20px -6px rgb(0, 0, 0.7);
}