.SidebarChat {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.delete {
    flex: 1;
}

.delete:hover {
    color: grey;
    font-size: xx-large;
}

.SidebarChat:hover {
    background-color: #ebebeb;
}

.SidebarChat > h2 {
    margin-left: 15px;
}

.sidebar_info {
    margin: 15px;
}
a {
    text-decoration: none;
    color: black;
}